# Project Part 1 - Sequences: Lists and Tuples
Notebook by: Lindsey Sullivan

- [Lists](#Lists)
- [Tuples](#Tuples)
- [Unpacking Sequences](#Unpacking-Sequences) 
- [Sequence Slicing](#Sequence-Slicing)
- [del Statement](#del-Statement)
- [Passing Lists to Functions](#Passing-Lists-to-Functions)
- [Sorting Lists](#Sorting-Lists)
- [Searching Sequences](#Searching-Sequences)
- [Other List Methods](#Other-List-Methods)
- [Simulating Stacks with Lists](#Simulating-Stacks-with-Lists)
- [List Comprehensions](#List-Comprehensions)
- [Filter, Map and Reduce](#Filter,-Map-and-Reduce)
- [Two-Dimensional Lists](#Two-Dimensional-Lists)

## Lists

Lists typically store **homogeneous data** that is values of the **same** data type. They may also store **heterogeneous data** data of many different types.

In [3]:
c = [5,7,-3,8,9,10,11,20] #creation of a list

c[0] #first index value

5

In [4]:
c[4] #fifth index value

9

### Len() Function

In [5]:
len(c) #length of the list

8

In [ ]:
c[-1] #gets the index values reversed, back to front with negative integers

### IndexError

In [6]:
c[100]

IndexError: list index out of range

> The length is 8, accessing 100 creates an IndexError because that index value is out of range

### Elements as Variables

In [7]:
c[0]+c[1]+c[2] #using the elements as variables

9

### Appending to a list

In [8]:
letters = []
letters += 'Sullivan'
letters

['S', 'u', 'l', 'l', 'i', 'v', 'a', 'n']

### Concatenating Lists
You can concatenate two lists, two tuples or two strings using the + operator. The result is a new *new* sequence of the same type containing the left operand's elements.

In [11]:
list1=[20,30,5]
list2=[2,10,3]
concatenated_list = list1 + list2
concatenated_list

[20, 30, 5, 2, 10, 3]

### Using for and range to Access List Indices and Values

The function call range(len(concatendated_list)) produces a sequence of integers representing concatenated_list's indices remaining in range.

In [14]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 20
1: 30
2: 5
3: 2
4: 10
5: 3

### Comparison Operators
Comparing entire lists element by element using comparison operators.

In [16]:
a = [4,5,6]
b = [4,5,6]
c = [1,2,4,6]

a == b

True

In [17]:
a == c

False

In [18]:
a < c

False

In [19]:
c >= b

False

#### Self Check

In [25]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3
numbers = [2,4,6,8,10,12,14,16,18,20]
cube_list(numbers)
print(f'The result is {numbers}')

The result is [8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]

*List practice created by Lindsey Sullivan*

## Tuples

Tuples are *immutable* and typically store heterogeneous data, but the data can be homogeneous. A tuple's length is its number of elements and cannot change during program execution.

In [26]:
example_tuple =()
example_tuple = 'Lindsey','Sullivan', 2022, 'Shaun', 'Sullivan'
example_tuple

('Lindsey', 'Sullivan', 2022, 'Shaun', 'Sullivan')

In [27]:
example_tuple[0] #accessing tuple index

'Lindsey'

In [29]:
example_tuple += ('October',16) #adding to a tuple
example_tuple

('Lindsey',
 'Sullivan',
 2022,
 'Shaun',
 'Sullivan',
 'October',
 16,
 'October',
 16)

In [ ]:
student_tuple = ('Lindsey', 'Sullivan', [98,90,70])
student_tuple

#### Self Check
 1. True/False: A += augmented assignment statement may not be used with strings and tuples, because they're immutable. **False**
 2. True/False: Tuples can only contain only immutable objects. **False**
 3. Create a single-element tuple containing 123.45, then display it

In [30]:
single_element = (123.45)
single_element

123.45

 4. Show what happens when you attempt to concatenate sequences of different types- the list [1,2,3] and the tuple (4,5,6)- using the + operators

In [31]:
[1,2,3] + (4,5,6) #causes a TypeError

TypeError: can only concatenate list (not "tuple") to list

## Unpacking Sequences

In [3]:
#unpacking a tuple
student_tuple = ('Lindsey',[98,90,70])
first_name, grades = student_tuple
print(f'The student\'s first name is {first_name}, and their grades are {grades}')

The student's first name is Lindsey, and their grades are [98, 90, 70]

In [5]:
#creating a primitive bar chart
numbers = [20,30,4,15,7]

print('\nCreating a bar chart from the number list:')
print(f'Index{"Value":>8} Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8} {"*" * value}')

Creating a bar chart from the number list:
Index   Value Bar
    0      20 ********************
    1      30 ******************************
    2       4 ****
    3      15 ***************
    4       7 *******

*Tuple practice created by Lindsey Sullivan*

## Sequence Slicing

You can **slice** sequences to creat enew sequences of the same type containing subsets of the original elements. Slice operations can modify mutable sequences.

In [7]:
numbers = [20,30,4,15,7]
numbers[2:6]

[4, 15, 7]

#### Self Check
1. True/False - Slice operations that modify a sequence work identically for lists, tuples, and strings.**False**
2. Assume you have a list called names. The slice expression _*names[::-1]*_ creates a new list wiht the elements of names in reverse order.
3. Create a list called numbers containing the values from 1 through 15, then use slices to perform the following operations:
 - select number's even integers
 - replace the elements at indicies 5 through 9 with 0s, then show the resulting list
 - keep only the first 5 elements, then show the resulting list
 - delete all the remaining elements by assiging to a slice. show the resuling list.

In [23]:
numbers = list(range(1,15))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [24]:
#even integers
numbers[1:len(numbers):2]

[2, 4, 6, 8, 10, 12, 14]

In [25]:
#replace elements at 5 - 9 with 0s
numbers[5:10] = [0] * len(numbers[5:10]) #without including the len - only 1 value shows as 0 as it replaces all of [5:10] with 1 0.
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14]

In [26]:
#keep only the first 5
numbers[5:] = []
numbers

[1, 2, 3, 4, 5]

In [27]:
#delete all remaining elements
numbers[:] =[]
numbers

[]

## del Statement

The **del** statement also can be used to remove elements from a list and to delete variables fromt he interactive session.

#### Self Check
1. Given a list numbers containing 1 through 10, del numbers [-2] removes the value _*9*_ from the list.
2. Create a list called numbers containing the values from 1 through 15, then use the del statement to perform the following operations consecutively:
    - Delete a slice containing the first 4 elements, then show the resulting list
    - Starting witht he first element, use a slice to delete every other element of the list, then show the resulting list.

In [33]:
numbers = list(range(1,16))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
del numbers[0:4]
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [35]:
del numbers[::2]
numbers

[6, 8, 10, 12, 14]

## Passing Lists to Functions

In [36]:
#passing an entire list to a function
def modify_elements(items):
    for i in range(len(items)):
        items[i] *= 2
numbers = [10,3,5,7,9]
modify_elements(numbers)
numbers

[20, 6, 10, 14, 18]

#### Self Check
1. True/False - You cannot modify a list's contents when you pass it to a function. **False**
2. True/False - Tuples can contain lists and other mutable objects. Those mutable objects can be modified when a tuple is passed to a function. **True**

## Sorting Lists

Sorting enables you to arrange data either in ascending or descending order.

In [37]:
numbers = [4,57,93,8,9,23,35,10,-2]
numbers.sort()
numbers

[-2, 4, 8, 9, 10, 23, 35, 57, 93]

In [39]:
numbers.sort(reverse=True) #sorts in descending order
numbers

[93, 57, 35, 23, 10, 9, 8, 4, -2]

#### Self Check
1. To sort a list in descending order, call list method sort with the option keyword argument _*reverse* set to True. 
2. True/False - All sequences provide a sort method. **False**
3. Create a foods list containing 'Cookies', 'pizza', 'grapes', 'apples', 'steak' and 'Bacon'. 
    - Use the list method to sort the list in ascending order.
    - Are the strings in alphabetical order?

In [40]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak','Bacon']
foods.sort()
foods #it is not in alphabetical order, they are in order based on an underlying character set

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

## Searching Sequences

**Searching** is the process of locating a key.

List method **index** - takes an argument as a search key to locate the value in the list and returns the *first* element and the index.

numbers = [1,3,5,7]
numbers.index(5)

- Operator *in* tests whether its right operand's iterable contains the left operand's value. 
- *Not in* operator tests whether its right operand's iterable does *not* contain the left operand's value. 
- *All* returns True if all items in its iterable argument are True. 
- *Any* returns True if any item in its iterable argument is True.

*nonzero values are true and 0 is false*

#### Self Check
1. The _*=_ operator can be used to extend a list with copies of itself.
2. Operators _*in*_ and _*not in*_ determine whether a sequence contains or does not contain a value,respectively. 
3. Create a five-element list containing 67,12,46,43,and 13, the use list method index to search for a 43 and 44.

In [48]:
numbers = [67,12,46,43,13]

print(f'43 is found at index: {numbers.index(43)}')

if 44 in numbers:
    print(f'Found 44 at index: {numbers.index(44)}')
else:
    print('44 not found')

43 is found at index: 3
44 not found

## Other List Methods

- **insert** adds a new item at a specific index. 
- **append** add new item to the end of a list
- **extend** to add all the elements of another sequence to the end of a list
- **remove** deletes the first element with a specific value
- **clear** deletes all elements
- **count** searches for its argument and returns the number of times it is found
- **reverse** reverses the contents of a list in place, rather than creating a reversed copy

## Simulating Stacks with Lists

You can simulate the function-call stack using the pop and append(your push) list methods

## List Comprehensions

A functional-style feature with **list comprehensions** - a ocncise and conveient notation for creating new lists.

In [ ]:
##instead of:
list 1 = []
for item in range (1,10):
    list1.append(item)

In [ ]:
#we can use the below:
list2 = [item for item in range(1,10)]

#### Self Check
1. A list comprehension's _*for*_ clause iterates over the specific sequence. 
2. A list comprehension's _*if*_ clause filters sequence elements to selectonly those that match a condition. 
3. Use a list comprehension to create a list of tuples containing the numbers 1-5 and their cubes

In [50]:
cubes = [(x,x**3) for x in range (1,6)]
cubes

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

4. Use a list comprehension and the range function with a step to create a list of the multiples of 3 that are less than 30.

In [52]:
multiples_of_3 = [x for x in range(3,30,3)]
multiples_of_3

[3, 6, 9, 12, 15, 18, 21, 24, 27]

## Filter, Map and Reduce

- Can use the built in function to obtain specific values in a list (e.g.: odd numbers)
- **Lambda** can be used to define a function and input the arguments as needed. 
- **Map** function can be used to create a list and map the functions that ran to that specific list. 
- A **reduction** processes a sequence's elements into a single value, such as their count, total or average.

#### Self Check
1. _*Filter*_,_*map*_,_*reduce*_ are common operations used in functional-style programming
2. A _*reduction*_ processes a sequence's elements into a single value, such as their count, total or average.
3. Create a list called numbers containing 1 through 15, then perform the following:
    - Use the filter function with a lambda to select only numbers event
    - Use the map function with a lambda to square the values of numbers' elements.
    - Filter numbers' even elements then map them to their squares

In [53]:
numbers = list(range(1,16))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [56]:
list(filter(lambda x: x %2 == 0, numbers))

[2, 4, 6, 8, 10, 12, 14]

In [57]:
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [58]:
list(map(lambda x: x ** 2,filter(lambda x: x % 2 == 0, numbers)))

[4, 16, 36, 64, 100, 144, 196]

4. Map a list of the three Fahrenheit tempeatures 41, 32, and 212 to a list of tuples containing the Fahrenheit tempatures and their celsius equivalents.

In [60]:
fahrenheit = [41,32,212]

list(map(lambda x: (x,(x - 32) * 5/9), fahrenheit)) #x fahrenheit is kept and the '(' starts the tuple, then (,) Celcius calculation

[(41, 5.0), (32, 0.0), (212, 100.0)]

## Two-Dimensional Lists

Lists can contain other lists as elements - a typical use is to represent **tables**. These are called **two-dimensional lists** - with two indicies to identify an element.

In [61]:
#creating a two dimensional list
a =[[77,80,90,73],[95,85,81,80],[70,90,86,93]]

#output of a two-dimensional list one row at a time
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 80 90 73
95 85 81 80
70 90 86 93

- 77,80,90,73 are initalized as a[0][0], a[0][1], a[0][2], a[0][3]
- 95,85,81,80 are initalized as a[1][0], a[1][1], a[1][2], a[1][3]
- etc.

#### Self Check
1. In a two-dimensional list, the first index by convention identifies the _*row*_ of an element and the second index identifies the _*column*_ of an element. 
2. Label the elements of the two by three list sales to indicate the order in which they're set to zero by the following program segment:
    - sales [0][0], sales[0][1], sales [0][2], sales [1][0], sales [1][1], sales [1][2]
3. Consider a two by three integer list t.
    - How many rows does t have?
        - 2
    - How many columns does t have? 
        - 3
    - How many elements does t have?
        - 6
    - What are the names of the elements in row 1?
        - t[1][0],t[1][1],t[1][2]
    - What are names of the elements in column 2? 
        - t[0][2],t[1][2]
    - Set the element in 0 and column 1 to 10
        - t[0][1] = 10.
    - Write a nested for statement that sets each element ot the sum of its indices.
    ```python
        for row in range(len(t)):
            for column in range(len(t[row])):
                t[row][column] = row + column
    ```
4. Given the two-by-three integer list t
    - t = [[10,7,3], [20,4,17]]
    - Determine and display the average of t's elements using nested for statements to iterate through the elements
    - Write a for statement that determine sand displays the average of t's elements using the reductions sum and len to calculate the sum of each row's elements and the number of elements in each row

In [68]:
t = [[10,7,3],[20,4,17]]
total = 0
items = 0

for row in t:
    for item in row:
        total += item
        items += 1
total/items

print(f'The average of t\'s elements is: {(total/items):.4f}')

The average of t's elements is: 10.1667

In [69]:
total = 0
items = 0
for row in t:
    total += sum(row)
    items += len(row)
total/items

print(f'The average of t\'s elements is: {(total/items):.4f}')

The average of t's elements is: 10.1667

*Written by Lindsey Sullivan*

[Return to Top](#Lists)

# Project Part 2 - Dictionaries and Sets

- [Dictionaries](#Dictionaries)
- [Iterating Through a Dictionary](#Iterating-Through-a-Dictionary)
- [Basic Dictionary Operations](#Basic-Dictionary-Operations)
- [Dictionary Methods keys and values](#Dictionary-Methods-keys-and-values)
- [Dictionary Comparisons](#Dictionary-Comparisons)
- [Example: Word Counts](#Example:-Word-Counts)
- [Sets](#Sets)

## Dictionaries

A dictionary associates keys with values. Each key maps to a specific value. Dictionary keys must be immutable and unique. 
- To create a dictionary enclose in {}, a 'comma','seperated','list','of','key-value pairs' in the format *key: value*. 
- You can create an empty dictionary with {}.

In [70]:
#creating a dictionary
country_codes = {'Finland':'fi','South Africa':'za','Nepal':'np','United States':'us'}
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np', 'United States': 'us'}

In [71]:
#len() for a dictionary reutnrs the number of key-value pairs in the dictionary
len(country_codes)

4

In [73]:
#can use a dictionary as a condition to determine if empty or non empty
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

In [74]:
#use clear to delete the dictionary's key-value pairs
country_codes.clear()

if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is empty

#### Self Check
1. _*Dictionaries* can be thought of as unordered collections in which each value is accessed through its corresponding key.
2. True/False - Dictionaries may contain duplicate keys **False**

## Iterating Through a Dictionary

The following dictionary maps month-name strings to int values representing the number of days in the corresponding month. Note that *multiple* keys can have the same value. 

A *for* statement iterates through value pairs and the method **items** returns each key-value pair as a tuple, which we unpack into month and days.

In [75]:
days_per_month = {'January': 31, 'February': 28, 'March' : 31}
days_per_month

for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

### Self Check
1. Dictionary method _*item*_ returns each key-value pair as a tuple.

## Basic Dictionary Operations

In [77]:
roman_numerals = {'I': 1, 'II':2, 'III':3, 'IV':4, 'V':5, 'X':100}

#associated value with 'V'
roman_numerals['V']

#updating a value
#roman_numberals['X'] = 10

5

In [78]:
#adding a new key-value pair
roman_numerals['L'] = 50
roman_numerals

#delete
#del roman_numerals['III']

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'X': 100, 'L': 50}

## Dictionary Methods keys and values

In [79]:
#Practice using Dictionary Methods keys and Values
months = {'January':1,'February':2,'March':3}
months['April'] = 4

for month_name in months.keys():
    print(month_name, end =' ')
    #retreives the keys

January February March April

In [81]:
for month_number in months.values():
    print(month_number, end=' ')
    #retreives the values

1 2 3 4

In [90]:
#Convert Dictionary Keys, Values and Key-Value Paris to Lists
month_name = list(months.keys())
print(f'Keys in a list {month_name}')
month_number =list(months.values())
print(f'Values in a list {month_number}')
month_all = list(months.items())
print(f'Key-Value Pairs in a list {month_all}')

Keys in a list ['January', 'February', 'March', 'April']
Values in a list [1, 2, 3, 4]
Key-Value Pairs in a list [('January', 1), ('February', 2), ('March', 3), ('April', 4)]

## Dictionary Comparisons

The comaprison operators == and != can be used to determine whether two dictionaries ahve identical or different contents. An equals (==) evaluates to True if both dictionaries have the same key-value pairs, regardless of the order in which those key-value paris were added to each dictionary.

In [91]:
city_capitols1 = {'Missouri':'Jefferson City','Kansas':'Topeka','Nebraska':'Lincoln City'}
city_capitols2= {'Nevada':'Carson City','Missouri':'Jefferson City','Colorado':'Denver'}
city_capitols3= {'Nebraska':'Lincoln City','Kansas':'Topeka','Missouri':'Jefferson City'}

city_capitols1 == city_capitols2

False

In [94]:
city_capitols2 == city_capitols3

False

In [96]:
city_capitols1 == city_capitols3

True

## Example: Word Counts

In [100]:
text = ('this is a sample text with several words this is a sample text with some different words')

word_counts = {} #creating an empty dictionary

for word in text.split():
    if word in word_counts:
        word_counts[word] += 1 #update existing key-value pair
    else:
        word_counts[word] = 1 #inserts new key-value pair
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
a           2
different   1
is          2
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words: 10

Frequent words of: a,is,sample,text, this, with, words

In [109]:
#New text string
text = ('It\'s difficult to understand the lengths he\'d go to remain short The miniature pet elephant became the envy of the neighborhood Nancy thought the best way to create a welcoming home was to line')

word_counts = {} #creating an empty dictionary

for word in text.split():
    if word in word_counts:
        word_counts[word] += 1 #update existing key-value pair
    else:
        word_counts[word] = 1 #inserts new key-value pair
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
It's        1
Nancy       1
The         1
a           1
became      1
best        1
create      1
difficult   1
elephant    1
envy        1
go          1
he'd        1
home        1
lengths     1
line        1
miniature   1
neighborhood1
of          1
pet         1
remain      1
short       1
the         4
thought     1
to          4
understand  1
was         1
way         1
welcoming   1

Number of unique words: 28

### Self Check
1. String method _*split*_ tokenizes a string using the delimiter provided in the method's string argument.
2. Use a comprehension to create a list of 50 random integers in the range 1-5. Summarize them witha counter. Display the results in a two-column format

In [110]:
import random
numbers = [random.randrange(1,6) for i in range (50)]
from collections import Counter
counter = Counter(numbers)
for value, count in sorted(counter.items()):
    print(f'{value:<4}{count}')

1   5
2   19
3   4
4   13
5   9

3. Use a dictionary comprehension to create a dictionary of the numbers 1-5 mapped to their cubes

In [112]:
cube_dictionary = {number:number ** 3 for number in range (1,6)}
cube_dictionary

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

## Sets

A set is an unordered collection of *unique* values. Sets may contain only immutuable objects, like strings, ints, floats, and tuples that contain only immutable elements.

In [113]:
#creating a set
colors = {'red','orange','yellow','green'}
colors

{'green', 'orange', 'red', 'yellow'}

In [114]:
#determining length
len(colors)

4

In [115]:
#checking if a value is in a set
'red' in colors

True

In [116]:
#iterating through a set
for color in colors:
    print(color.upper(),end=' ')

YELLOW ORANGE GREEN RED

You can create a set from another collection of values by using the built-in set function. One of the benefits of sets is they automatically remove duplicates.

In [119]:
numbers = list(range(10)) + list(range(5))
numbers
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Self Checks
1. True/False - Sets are colelctions of unique mutable and immuatable objects. **False**
2. You can createa. set from another colelction of values by using the built-in _*set*_ function.
3. Assign the following string to varaible text, then split it into tokens with string method split and create a set from the results. Display the unqiue words in sorted order.

In [121]:
text = 'to be or not to be that is the question'
unique_words = set(text.split())
for word in sorted(unique_words):
    print(word, end =' ')

be is not or question that the to

You can compare sets using the == and != operators

In [123]:
{1,3,5} == {3,5,1}

True

In [124]:
{1,3,5} == {3,5,12}

False

### Self Checks
1. True/False - Sets may be compared with only the == and != comparison operators - **False**
2. A subset is a(n) _*proper*_ subset of another set if all the subset's elements are in the other set and the other set has more elements
3. Use sets and issuperset to determine whether the characters of the string'abc def ghi jkl mno' are. asuper set of the characters int eh string 'hi mom'

In [125]:
set('abc def ghi jkl mno').issuperset('hi mom')

True

### Mathmatetical Set Operators
**union** - two sets is a set consisting of all the unique elements using the (|) operator
**intersection** - two sets is a set consisting of all the unique elements that the two sets have in common using the (&) operator
**difference** - two sets is a set consisting of the elements in the left operand that are not in the right operand. (-) operator
**symmetric difference** - between two sets consisting of the elements both sets thaat are no in common with one another. (^) operator
**disjoint** is if they do not have any common elements - can be determined with isdisjoint method.

In [126]:
{1,3,4,5} | {4,5,7,9}

{1, 3, 4, 5, 7, 9}

In [127]:
{1,3,4,5} & {4,5,7,9}

{4, 5}

In [128]:
{1,3,4,5} - {4,5,7,9}

{1, 3}

In [129]:
{1,3,4,5} ^ {4,5,7,9}

{1, 3, 7, 9}

In [131]:
{1,3,4,5}.isdisjoint({4,5,7,9})

False

### Self Check
1. Two sets are _*disjoint*_ if they sets do not ahve any common elements
2. Given the sets {10,20,30] and {5,10,15,20} use the mathmatical set operators to produce the following sets:
    - 30
    - 5,15,30
    - 5,10,15,20,30
    - 10,20

In [132]:
{10,20,30} - {5,10,15,20}

{30}

In [133]:
{10,20,30} ^ {5,10,15,20}

{5, 15, 30}

In [134]:
{10,20,30} | {5,10,15,20}

{5, 10, 15, 20, 30}

In [135]:
{10,20,30} & {5,10,15,20}

{10, 20}

### Mutable Mathematical Set Operators
Using union augmented assignment |= performs a union operation, but |= modifies its left operand. This can be done for each of the above mathematical set operators except disjoint.

In [136]:
numbers = {1,3,5}
numbers |= {2,3,4}
numbers

{1, 2, 3, 4, 5}

## Methods for Adding and Removing Elements
- **add** - inserts is argument if the arugment is not already in the set
- **remove** - removes its argument fromt eh set
- **dischard** - also removes its argument form the set but does not cause an exception if the value is not in the set
- **pop** - can remove arbitary set element and return it with a pop
- **clear** - empties the set on which it's called.

In [137]:
numbers = {1,3,5}
numbers |= {2,3,4}
numbers

{1, 2, 3, 4, 5}

In [141]:
numbers.add(17)
numbers.add(3) #does not add a duplicate
numbers

{1, 2, 3, 4, 5, 17}

In [142]:
numbers.remove(3)
numbers

{1, 2, 4, 5, 17}

In [143]:
numbers.pop()

1

In [144]:
numbers

{2, 4, 5, 17}

In [145]:
numbers.clear()
numbers

set()

### Self Check
1. True/False - Set method pop returns the first element added to the set. **False**
2. Set method _*update*_ performs a union operation, modifying the set on which it's called.

In [ ]:
created by lindsey sullivan